body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: rgb(0, 0, 0);
  line-height: 1.6;
  /* z-index: 1000000; */
}

#notes-ui{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  box-sizing: border-box;
  z-index: 100;
}


.container {
  position: absolute;
  left: 73%;
  padding: 15px;
  background: white;
  width: 25%;
  top: 60px;
  height: 650px;
  overflow-y: auto;

}



header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.notes-name{
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
}


.card {
  background-color: #F0EFE0;
  color:  #0E1318;
  border-radius: 10px;
  padding: 12px 20px;
  margin: 20px 10px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; */
}

.editor{
  background-color: #f1f1f1;
  margin: 10px;
  border-radius: 10px;
  /* padding: 10px; */
}

.btn {
  margin: 20px;
  color: #0E1318;
  font-weight: bold;
  border: 0;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  position: relative;
  left:30%;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 50;
}

.btn-primary {
  background-color: #FFD700;
}

.btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

.notes-btn{
  position: absolute;
  left:85%;
  top: -10px;
}

.close,
.edit {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.edit {
  right: 40px;
}


/* Quill Editor */
.ql-editor{
  min-height: 100px;
  max-height: 250px;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 0px;
}

.ql-container.ql-snow {
  border:none;
}

.ql-toolbar.ql-snow{
  border: none;
}



/* WhatsApp */
._1PzAL{
  opacity: 0 !important;
}


 /* Whatsapp Quick Reply CSS */

 #reply_div{
    position: absolute;
    padding: 8px 12px;
    top: 0;
    z-index: 1;
    width: calc(100% - 80px);
    white-space: nowrap;
    overflow: scroll;

 }

#smart_reply_edit_button{
    position: absolute;
    width: 80px;
    right: 0px;
    top: 12px;
    color: var(--message-primary);
    font-weight: 600;
    font-size: 12px !important
    
}

.reply_click{
    color: var(--message-primary);
    background-color: var(--outgoing-background);
    border-radius: 15px;
    padding: 4px 8px;
    font-size: 12px;
    margin-right: 8px;
    margin-bottom: 4px;
}

.modal{
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content{
    position: relative;
    width: 600px;
    height: 560px;
    overflow: auto;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    

}

.popup-heading{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 24px;
    color: #000;
}


#sugg_message_list{
    height: 210px;
    overflow-y: auto;
    margin: 16px 0;

}

#close_edit{
    position: absolute;
    top: 4px;
    right: 12px;
    font-size: 20px;
}


#add_message{
	width: 400px;
	height: 100px;
	padding: 8px;
}

#add_message_btn{
	background: #1E4F29;
	border-radius: 2px;
	padding: 8px 12px;
	float: right;
	color: #fff;
}


#message-item{
	margin: 8px 0px;
	display: flex;
}

.popup_list_message{
	color: var(--message-primary);
	background-color: var(--outgoing-background);
	padding: 6px 7px 8px 9px;
	border-radius: 7.5px;
	margin: 2px 0px;
	max-width: 400px;
	margin-right: 8px;
	cursor: pointer;
	overflow: auto;
}

.delete_message{
	border: 1px solid red;
	width: 18px;
	height: 18px;
	color: red;
	border-radius: 50%;
	font-size: 11px;
	margin-top: 8px;
}

